version: 2.1

# Define the jobs we want to run for this project
jobs:
  build:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - run: echo "this is the build job"
  test:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - run: echo "this is the test job"
  deploy:
    - run:  
        name: Deploy Job
        command: |
          echo "hello before deploy job"
          echo "this is the deploy job"
          echo "wohoo your deployment complete!"
# Orchestrate our job run sequence
workflows:
  build_and_test:
    jobs:
      - build
      - test
      - deploy
